:root {
	--Up-Color: #202b36;
	--Down-Color: #141c24;
	--Body-Text: #eae8ed;
}

*	{
	margin: 0;
}

body {
	background-color: var(--Down-Color);
	color:  var(--Body-Text);
}
/* ---------- Header ---------- */
.header {
	background-color: var(--Down-Color);
	padding-top: 1em;
	padding-bottom: 2em;
}
.header h1 {
	color: white;
	text-align: center;
	text-shadow: 0 5px 1px black;
}

.header hr {
	margin: auto;
	margin-top: 1em;
	width: 95%;
	color: whitesmoke;
	box-shadow: 0 3px 5px black;
}

/* ---------- Nav ---------- */
.navContainer {
	width: 100px;
	top: 20px;
}
.nav {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--Up-Color);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	box-shadow: 0 0 5px black;
}
#leftNav {
	width: 0px;
}

#navBtn {
	z-index: 2;
	position: absolute;
	top: 5px;
	left: 5px;
	width: fit-content;
	padding-left: 8px;
	padding-right: 8px;
	background-color: var(--Up-Color);
	border: 1.5px solid whitesmoke;
	border-radius: 20px;
	color: whitesmoke;
	font-size: 14px;
	text-align: center;
}
#navBtn:active {
	background-color: var(--Down-Color);
	color: lightblue;
}

.nav a {
	text-align: right;
	padding: 8px 8px 8px 32px;
	color: whitesmoke;
	text-decoration: none;
	display: block;
	transition: 0.3s;
}
.nav a:hover {
	color: lightblue;
	background-color: var(--Down-Color);
	box-shadow: 0 0 5px black;
}