:root {
	--Up-Color: #202b36;
	--Down-Color: #141c24;
	--Body-Text: #eae8ed;
}

/* ---------- Log & Reg ---------- */
.formContainer {
	padding: 2% 2% 5% 5%;
}
.loginReg {
	width: 45%;
	margin: auto;
	background-color: var(--Up-Color);
	color: whitesmoke;
	border: 2px solid whitesmoke;
	border-radius: 20px;
	box-shadow: 0 0 5px black;
}

/* -- Toggle Buttons -- */
.logReg_Toggle {
	display: table;
	width: 100%;
	padding: 0;
}
.logRegBtn {
	display: table-cell;
	width: 45%;
}
.logRegBtn button {
	margin: 0;
	width: 100%;
	padding: 10px;
	color: whitesmoke;
	border: none;
	border-radius: 20px;
}
.logRegBtn button:hover {
	color: lightblue;
}



/* -- Label / Input / Submit -- */
.loginReg label {
	display: inline-block;
	width: 35%;
	text-align: right;
}
.loginReg input {
	width: 45%;
	padding: 1%;
	margin-bottom: 5px;
}
.loginReg button[type="submit"] {
	display: block;
	margin: 15px auto 0 auto;
	text-align: center;
	width: 30%;
}
/* -- Login -- */
#logBtn {
	background-color: var(--Up-Color);
}

/* -- Reg -- */
#regBtn {
	background-color: var(--Down-Color);
}


.hide {
	display: none;
}